@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


div {
    width: 100%;
    max-width: 200px;
    height: 100vh;
    border: 1px solid red;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}